.PJOK {
    background-color: red;
}

.inggris {
    background-color: rgb(42, 165, 63);
}

.sejarah {
    background-color: darkslategray;
}

.pp {
    background-color: cyan;
}

.BINDO {
    background-color: rgb(255, 220, 252);
}

.kon {
    background-color: orangered;
}

.jawa {
    background-color: cornflowerblue;
}

.rows {
    background-color: darkgreen;
}

.pais {
    background-color: darkorchid;
}

.bkk {
    background-color: darkorange;
}

.mtk {
    background-color: dimgray;
}

.mapil {
    background-color: crimson;
}

.pkk {
    background-color: mediumspringgreen;
}